<html>
<head>
<link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}"
</head>
<body class=pane>

<h1 class=header>{{restaurant.name}}</h1>

{% with messages=get_flashed_messages()%}

{%if messages%}
<ul>
  {%for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


<a href="{{url_for('newMenuItem',restaurant_id=restaurant.id)}}">NEW MENU ITEM</a>
<hr>
{% for i in items %}

<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>

<p> {{i.price}} </p>
<a href="{{url_for('editMenuItem',restaurant_id=restaurant.id,menu_id=i.id)}}">edit</a>
<br>
<a href="{{url_for('deleteMenuItem',restaurant_id=restaurant.id,menu_id=i.id)}}">delete</a>
<hr><br><br>
</div>


{% endfor %}
<a href="{{url_for('showRestaurant')}}">Back to restaurants page</a>
</body>

</html>
