<html>
<body>

  <h1>New menu item</h1>

  <form action="{{url_for('newMenuItem',restaurant_id=restaurant_id)}}" method='post'>
<label>Name<input type='text' size='30' name='name'></label>
<label>description<input type='text' size='30' name='description'></label>
<label>price<input type='text' size='30' name='price'></label>
<h3>Course:</h3><br>
<input type='radio' name='course' value='Appetiser'>Appetiser<br>
<input type='radio' name='course' value='Entree'>Entree<br>
<input type='radio' name='course' value='Dessert'>Dessert<br>
<input type='radio' name='course' value='Beverage'>Beverage<br>
<input type='submit' value='create'>
</form>

</body>
</html>
