<html>
<head>
  <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body class=pane>
  <div>
    {% if 'username' not in session %}
<a href="{{url_for('showLogin')}}">Click Here to Login </a>
{% else %}
<a href="{{url_for('disconnect')}}">Logout </a>
{% endif %}
</div>
<br>
  <h1 class=header>Restaurants!</h1>

  {% with messages=get_flashed_messages()%}

  {%if messages%}
  <ul>
    {%for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  <a href="{{url_for('newRestaurant')}}">Create a new Restaurant</a>
  <hr>
  <br>
  {% for rest in restaurants %}
  <div>
  <h3>{{rest.name}}</h3>
  <a href="{{url_for('editRestaurant',restaurant_id=rest.id)}}">edit</a>
  <a href="{{url_for('deleteRestaurant',restaurant_id=rest.id)}}">delete</a>
  <a href="{{url_for('showMenu',restaurant_id=rest.id)}}">Show menu</a>
  <br>
  <hr>
  <br><br>
</div>
{% endfor %}

</body>
</html>
